{% extends 'base.html.twig' %}

{% block title %}Medical Exams{% endblock %}

{% block body %}
    <section>
        <header>
            <h1>Medical Exams</h1>
        </header>
        
        <nav class="list-group mt-3" aria-label="Exams list">
            {% for exam in exams %}
                <a href="{{ path('app_exam_show', {'id': exam.id}) }}" class="list-group-item list-group-item-action">
                    <h5 class="mb-1">{{ exam.name }}</h5>
                    <small>Created: {{ exam.createDt|date('Y-m-d H:i') }}</small>
                </a>
            {% else %}
                <p>No exams found.</p>
            {% endfor %}
        </nav>
    </section>
{% endblock %}
